body {
  background-color: #e7e3d9 !important;
  color: rgb(48 48 48 / 87%) !important;
}
.result-item {
  padding: 15px !important;
}
.large.text {
  font-size: 1.5rem;
}
.text-center {
  text-align: center;
}
.main-container {
  margin-top: 20px;
}
.question-card {
  background-color: #ffffff !important;
  padding: 20px;
}

.question-index-status {
  padding: 15px;
  float: right;
  font-weight: bold;
}
.question-options {
  padding-top: 20px;
}
.m-t-3 {
 margin-top: 3rem;
}

.result-incorrect {
  background-color: #edd3d3;
}
.result-incorrect > .icon-incorrect {
  display: table-cell !important;
}
.result-incorrect > .icon-correct {
  display: none !important;
}
.result-correct > .icon-correct {
  display: table-cell !important;
}
.result-correct > .icon-incorrect {
  display: none !important;
}
.result-item-explanation {
  margin-left: 3.5rem;
  font-size: 1rem;
}
.green {
  color: green;
}
.red {
  color: darkred;
}